.category {
  width: 90%;
}

.category-item {
  width: 100%;
  background-color: #283042;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgb(0, 0, 0, 0.1);
}

.category-link {
  width: 100%;
  font-size: 1.6rem;
  color: rgb(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #283042;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.category-link i {
  color: #e7d5ff;
  padding: 0.5rem;
}

.category-link .ion-md-remove {
  display: none;
}

.category-item:target .sub-category {
  max-height: 30rem;
}

.category-item:target .category-link .ion-md-add {
  display: none;
}

.category-item:target .category-link .ion-md-remove {
  display: block;
}
