.category {
  width: 90%;
}

.category-item {
  width: 100%;
  background-color: #283042;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgb(0, 0, 0, 0.1);
}

.category-link {
  width: 100%;
  font-size: 1.6rem;
  color: rgb(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #283042;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.category-link i {
  color: #e7d5ff;
  padding: 0.5rem;
}

.category-link .ion-md-remove {
  display: none;
}

.sub-category {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
  transition: max-height 650ms;
}

.sub-category::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #8fc460;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.sub-category p {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
  padding: 2rem;
}

.category-item:target .sub-category {
  max-height: 20rem;
}
