.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.checkout-container {
  width: 70%;
  height: 60%;
  background-color: #30384b;
  display: flex;
  flex-direction: row;
  border-radius: 0.4rem;
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

.checkout-container .customer-info {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 65%;
  border-right: 0.2rem solid #283042;
}

.checkout-container .customer-cart {
  width: 35%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.checkout-container .back-to-shop button {
  font-size: 1.5rem;
  color: #fff;
  background-color: #283042;
  border-radius: 4rem;
  padding: 1rem;
  border: 0.2rem solid #212838;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
