* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #3c4053;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box {
  height: 50%;
  background-color: #283042;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgb(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  max-width: 60%;
}

.title {
  font-size: 3rem;
  margin: 1rem 0;
}

.sub-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.author {
  font-size: 1.5rem;
}

.desc {
  font-size: 2rem;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
}

.link {
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.link a {
  display: block;
  width: 30%;
  text-decoration: none;
}

.button {
  font-size: 1.5rem;
  color: #fff;
  background-color: #30384b;
  border-radius: 4rem;
  padding: 1rem;
  border: 0.2rem solid #212838;
  cursor: pointer;
  margin-top: 1.5rem;
}

.button img {
  width: 50%;
  height: 50%;
  margin: 0.5rem 0;
}
