.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0.5rem;
  align-items: center;
  border-bottom: 1px solid white;
}

.cart-item > * {
  width: 25%;
  text-align: center;
}

.cart-item .cart-item-name {
  text-align: left;
}

.cart-item .cart-item-name .cart-item-name-quantity {
  font-size: 1.1rem;
}

.cart-item .cart-item-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart-item .cart-item-quantity > * {
  margin: 0 1rem;
  font-size: 2rem;
}
