*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.homepage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: #3c4053;
}

.homepage .left {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.homepage .right {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.item-view,
.cart-view {
  height: 50%;
}

.homepage .container {
  max-width: 250rem;
  margin: 1rem auto;
  padding: 0 1.5rem;
}
