.cart-container {
  background-color: #283042;
  width: 95%;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgb(0, 0, 0, 0.1);
  margin: 1rem auto;
  color: #fff;
  height: 95%;
  max-height: 97%;
}

.cart-container .cart-title {
  font-size: 2rem;
  margin: 0.5rem;
  text-align: center;
}

.cart-container .total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}

.cart-container .cart-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-container .cart-button button {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  background-color: #30384b;
  border-radius: 4rem;
  padding: 0.5rem 0;
  border: 0.2rem solid #212838;
  cursor: pointer;
  margin-top: 0.5rem;
}

.cart-container .cart-button .cart-button-clear {
  width: 40%;
  margin-right: 2rem;
}

.cart-container .cart-button button:disabled {
  color: grey;
}
