.sub-category {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
  transition: max-height 650ms;
}

.sub-category::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #8fc460;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.sub-category .sub-category-name {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
  padding: 2rem;
}

.sub-category .sub-category-items {
  padding-left: 2rem;
}

.sub-category .sub-category-items .card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sub-category-link .ion-md-remove {
  display: none;
}
