.sub-category {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
  transition: max-height 650ms;
}

.sub-category::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #8fc460;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.sub-category p {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.6);
  padding: 2rem;
}

.category-item:target .sub-category {
  max-height: 20rem;
}
