.view-container {
  background-color: #283042;
  width: 95%;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgb(0, 0, 0, 0.1);
  margin: 1rem auto;
  color: #fff;
}

.view-container .view-header {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.view-container .view-content {
  background-color: #212838;
  border-radius: 0.4rem;
}

.view-container .product-image {
  width: 100%;
  min-height: 20rem;
  max-height: 21rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-container .product-image img {
  max-width: 20rem;
  max-height: 20rem;
}

.view-container .product-desc {
  padding: 1rem;
  margin: 0.5rem 0;
  padding-top: 0;
}

.desc-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
}

.view-container .view-stock {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem;
}

.view-container button {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  background-color: #30384b;
  border-radius: 4rem;
  padding: 1rem 0;
  border: 0.2rem solid #212838;
  cursor: pointer;
}

.view-empty {
  background-color: #283042;
  width: 95%;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgb(0, 0, 0, 0.1);
  margin: 1rem auto;
  color: #fff;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
}

.view-empty .empty-content {
  text-align: center;
}

.view-empty .empty-content .empty-subtitle {
  font-size: 1.5rem;
}
