.customer-form {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.customer-form .form-container {
  margin-top: 1rem;
  padding-left: 1rem;
  width: 100%;
  height: 85%;
}

.customer-form .form-container .form-detail {
  position: relative;
}

.customer-form .form-container .form-detail input {
  width: 90%;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 3rem;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.customer-form .form-container .form-detail label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.customer-form .form-container .form-detail label:after {
  content: "*";
  color: red;
}

.customer-form .form-container input:focus ~ label,
.customer-form .form-container input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(255, 255, 255, 0.8);
  font-size: 1.6rem;
}

.customer-form .form-container .submit-btn {
  width: 100%;
}

.customer-form .form-container .submit-btn button {
  font-size: 1.5rem;
  width: 90%;
  color: #fff;
  background-color: #283042;
  border-radius: 4rem;
  padding: 1rem;
  border: 0.2rem solid #212838;
  cursor: pointer;
  margin-left: 0.5rem;
}

.customer-form .form-container .submit-btn button:disabled {
  color: grey;
}
